@model UoC_Site.Models.Assignment

@{
    ViewBag.Title = "AssignmentDetails";
}

<h2>AssignmentDetails</h2>

<div>
    <h4>Assignment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DueDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DueDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weighting)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weighting)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Marks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Score)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Score)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LinkToWork)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LinkToWork)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
